body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.answer:hover{
  background-color: black;
  color:white;
}
.question-progress {
  border: none;
  width: 400px;
  height: 30px;
  border-radius: 10px;
}

.question-progress {
  color: lightblue;
}

.question-progress::-moz-progress-bar {
  background: lightcolor;
}

.question-progress::-webkit-progress-value {
  background: grey;
}

.question-progress::-webkit-progress-bar {
  background: white;
}
.answer-progress{
  border: 1px solid #000;
  overflow:hidden;
  width:100%;
}